/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2671fd;
    font-family: Arial, sans-serif;
}

/* Estilo para o Canvas */
canvas {
    display: block;
    margin: 0 auto;
    border: 5px solid #000;
    background-color: #fff; /* branco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* sombra */
}

/* Estilo para a marca d'água */
.watermark {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5); /* cor branca com transparência */
}
